* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  color: #000550;
  font-size: 15px;
  line-height: 1.5;
  background-color: rgba(0, 0, 255, 0.2);
}

input {
  padding: 5px;
  font: inherit;
}

button {
  font: inherit;
  padding: 8px 12px;
  cursor: pointer;
  background-color: rgba(230, 255, 0);
}

button:hover,
button:focus {
  background-color: rgba(0, 0, 255, 0.2);
  color: yellow;
}

.btn-createBank {
  width: 150px;

  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  color: #000550;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main-btn {
  margin: 0 auto;
}

.icon {
  display: inline-flex;
  padding: 3px;
  border: 1px solid #000550;
  border-radius: 50%;
  fill: #000550;
}

button:hover .icon,
button:focus .icon {
  border: none;
  fill: currentColor;
}

.hero-sidebar {
  display: none;
  position: absolute;
  background-color: rgb(0, 0, 255);
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardBank {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(10, 0, 70, 0.205);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 20px 30px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title_markup {
  font-size: 20px;
  line-height: 1;
  text-align: center;
}

.form-imput {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(5, 0, 54, 0.993);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-imput::placeholder {
  color: rgba(250, 214, 8, 0.486);
}

.form-imput:focus,
.form-imput:hover {
  border-color: yellow;
}

/* Bank List item styles */
.bank_list {
  padding: 0;
  margin-left: 23px;
  margin-top: 50px;
  margin-bottom: 0;
}
.bank_item {
  display: flex;
  align-items: center;
}

.bank_item-btn {
  margin-left: 20px;
}
